h1 {
    text-align: center;
}

p {
    font-size: 28px;
}

body {
    background-color: cornflowerblue
}

#input {
    text-align: center;
    
}

#cep {
    font-size: 22px;
    width: 3cm;
}

#find{
    font-size: 28px;
    border-radius: 5px;
    border-color: rgb(1, 155, 194);
}

#output {
    font-size: 20px;
    width: 24cm;
    border-radius: 8px;
    background-color: #4d84e9;
    margin: auto;
    text-align: center;
}